<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/angular.min.js"></script>
</head>
<body>
<div class="container"
     ng-app="app"
     ng-controller="urlListController">
    <div class="loading-wrapper" ng-show="initInProgress">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 col-lg-offset-3 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">
            <form class="form url-form">
                <div class="ng-hide"
                     ng-hide="initInProgress"
                     ng-repeat="(urlIndex, urlData) in urlList track by $index">
                    <div class="form-group">
                        <div class="input-group"
                             ng-class="{'has-error': !isValidUrl(urlData.url)}">
                            <input type="text" class="form-control"
                                   ng-model="urlData.url"
                                   ng-disabled="parsingInProgress">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"
                                        ng-click="deleteUrl(urlIndex)"
                                        ng-disabled="parsingInProgress">
                                    Удалить URL
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group ng-hide"
                         ng-hide="!parsingInProgress">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 0px;" ng-style="{ width: getProgress(urlData.state) }">
                                {{ getState(urlData.state) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-default ng-hide" type="button"
                            ng-click="addUrl()"
                            ng-hide="initInProgress"
                            ng-disabled="urlList.length === 5 || parsingInProgress">
                        Добавить URL
                    </button>
                </div>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <input id="startDateInput" type='text' class="form-control"
                               ng-model="parsingStart"
                               ng-disabled="parsingInProgress">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="ng-hide" ng-show="!initInProgress">
                    <div class="form-group" ng-hide="parsingInProgress">
                        <div class="input-group">
                            <button class="btn btn-default" type="button"
                                    ng-disabled="!urlList.length"
                                    ng-click="startParsing()">
                                Запустить парсинг
                            </button>
                        </div>
                    </div>
                    <div class="form-group"
                         ng-hide="!parsingInProgress">
                        <div class="input-group">
                            <button class="btn btn-default" type="button"
                                    ng-click="stopParsing()">
                                Прервать парсинг
                            </button>
                        </div>
                    </div>
                </div>
                <nav class="ng-hide" ng-hide="isHidePagination()">
                    <ul class="pagination">
                        <li class="active page-link page-link-0" ng-click="togglePage(0)"><a>1</a></li>
                        <li class="page-link page-link-1" ng-click="togglePage(1)"><a>2</a></li>
                    </ul>
                </nav>
                <div class="ng-hide"
                     ng-repeat="(urlIndex, urlData) in urlList track by $index"
                     ng-hide="isHideSiteBlock(urlIndex)"
                     ng-class="">
                    <div class="form-group ng-hide" ng-show="urlData['state'] == 2 && urlData['error'] !== false">
                        <div class="list-group">
                            <div class="list-group-item active">
                                Url: {{ urlData['url'] }}
                            </div>
                            <div class="list-group-item bg-danger">
                                Ошибка: {{ urlData['error'] }}
                            </div>
                        </div>
                    </div>
                    <!--{ page1: (urlIndex - hiddenCount()) < 3, page2: (urlIndex - hiddenCount()) >= 3 }-->
                    <div class="form-group ng-hide" ng-show="isResultExist(urlIndex)">
                        <div class="list-group">
                            <div class="list-group-item active">
                                Url: {{ urlData['url'] }}
                            </div>
                            <div class="list-group-item">
                                Содержимое тега <span class="text-info">title</span>: {{ urlData['title'] }}
                            </div>
                            <div class="list-group-item">
                                Содержимое тега <span class="text-info">H1</span>: {{ urlData['h1'] }}
                            </div>
                            <div class="list-group-item ng-hide" ng-hide="!urlData['local_img'].startsWith('http')">
                                Ссылка на изображение: <a href="{{ urlData['img'] }}" target="_blank">{{ urlData['img'] }}</a>
                            </div>
                            <div class="list-group-item ng-hide" ng-hide="!urlData['local_img'].startsWith('http')">
                                Локальная ссылка на изображение: <a href="{{ urlData['local_img'] }}" target="_blank">{{ urlData['local_img'] }}</a>
                            </div>
                            <div class="list-group-item ng-hide" ng-hide="!urlData['local_img'].startsWith('http')">
                                Изображение:
                                <img ng-src="{{ urlData['local_img'] }}" class="preview-image">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-datetimepicker.min.js"></script>
<script src="/js/app.js"></script>
</body>
</html>